/config/youtube_client_secrets.json
/config/client_secret.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/coverage
/public/css
/public/js
/public/fonts
/public/mix-manifest.json
*.sublime-project
*.sublime-workspace
_ide_helper.php
.DS_Store
.idea
.php_cs.cache
.phpstorm.meta.php
.project
composer.phar
coverage.xml
docker-compose.override.yml
error.log
output.txt
Thumbs.db
